@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
  color: #21243d;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  flex-direction: column-reverse;
  align-items: center;
  gap: 35px;
}



