.div_card{
    margin:0 auto;
    border:1px solid gray;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:700px;
    height:1000px;
    padding: 20px;
    gap:30px;

}
.img{
    width:400px;
    height:400px;
}

.div_card h2{
    font-size:20px;
  color:black;
  background-color: pink;
  font-style: normal; 
  text-transform: uppercase
}